In [2]:
import pandas as pd
flights = pd.read_csv("flights.csv")

C:\Users\HP\anaconda3\envs\first\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
flights.shape

(5819079, 31)

In [120]:
flights.head(8)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
flights.tail(3)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
flights[flights.isnull().any(axis=1)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [7]:
flights[['DEPARTURE_DELAY','ARRIVAL_DELAY']].agg(['min','mean','max'])

      DEPARTURE_DELAY  ARRIVAL_DELAY
min        -82.000000     -87.000000
mean         9.370158       4.407057
max       1988.000000    1971.000000

In [8]:
flights.shape

(5819079, 31)

In [26]:
flights.dropna(axis=1, how='all')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
new_flights = flights.dropna(axis=1, how='all')

In [21]:
flights.shape

(5819079, 31)

In [123]:
new_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
flights.isnull()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5819075,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5819076,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5819077,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
5819078,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True

In [24]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [29]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [30]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [31]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [69]:
import numpy as np
np.nan == None

False

In [70]:
s = pd.Series(np.random.randint(0,5,1000))
s.head()

0    3
1    4
2    0
3    0
4    4
dtype: int32

In [33]:
np.nan == np.nan

False

In [34]:
np.isnan(np.nan)

True

In [132]:
sports = {'kabbadi' : 'India',
          'wrestling':'USA',
          'Archery' : 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea',
           'hockey' : 'India'}
s = pd.Series(sports)
s

kabbadi            India
wrestling            USA
Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
hockey             India
dtype: object

In [133]:
s.index[2]

'Archery'

In [37]:
type(s.index)

pandas.core.indexes.base.Index

In [134]:
s = pd.Series(['cat','Tiger', 'Bear', 'Moose','wolf','Bull','Cheetah'], index=['India','India', 'America', 'Canada','Russia','America','Africa'])
s

India          cat
India        Tiger
America       Bear
Canada       Moose
Russia        wolf
America       Bull
Africa     Cheetah
dtype: object

In [136]:
sports = {'Kabbadi' : 'India',
          'Wrestling':'USA',
          'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea',
           'Hockey' : 'India'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey       India
dtype: object

In [140]:
sports = {'kabbadi' : 'India',
          'wrestling':'USA',
          'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea',
           'Hockey': 'India'}
s = pd.Series(sports)
s

kabbadi            India
wrestling            USA
Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Hockey             India
dtype: object

In [141]:
s.iloc[3]

'Scotland'

In [142]:
s.loc['Golf']

'Scotland'

In [143]:
s[3]

'Scotland'

In [144]:
s['Golf']

'Scotland'

In [149]:
sports = { 97 : 'India',
           98:'USA',
           99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea',
          103: 'India'}
s = pd.Series(sports)
print(s)

97           India
98             USA
99          Bhutan
100       Scotland
101          Japan
102    South Korea
103          India
dtype: object

In [150]:
s = pd.Series([101.00, 134.00, 191.00, 0.900])
s

0    101.0
1    134.0
2    191.0
3      0.9
dtype: float64

In [151]:
total = 0
for item in s:
    total+=item
print(total)

426.9

In [152]:
import numpy as np

total = np.sum(s)
print(total)

426.9

In [153]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,100,10000))
s.head()

0    42
1    62
2    24
3    85
4    76
dtype: int32

In [154]:
len(s)

10000

In [155]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.22 ms Â± 60.6 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [53]:
%%timeit -n 100
summary = np.sum(s)

56.7 Âµs Â± 8.26 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [156]:
s+=2 #adds two to each item in s using broadcasting
s.head(10)

0    44
1    64
2    26
3    87
4    78
5    30
6    30
7    32
8     2
9    62
dtype: int32

In [58]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

380 ms Â± 15 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [59]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

310 Âµs Â± 120 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [157]:
s = pd.Series([1, 2, 3,5,8])
s.loc['Animal'] = 'Bull'
s

0            1
1            2
2            3
3            5
4            8
Animal    Bull
dtype: object

In [159]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Wrestling': 'USA',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'West Indies',
                                      'Pakistan',
                                      'England',
                                       'India'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [160]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Wrestling            USA
Taekwondo    South Korea
dtype: object

In [161]:
cricket_loving_countries

Cricket      Australia
Cricket    West Indies
Cricket       Pakistan
Cricket        England
Cricket          India
dtype: object

In [162]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Wrestling            USA
Taekwondo    South Korea
Cricket        Australia
Cricket      West Indies
Cricket         Pakistan
Cricket          England
Cricket            India
dtype: object

In [163]:
all_countries.loc['Cricket']

Cricket      Australia
Cricket    West Indies
Cricket       Pakistan
Cricket        England
Cricket          India
dtype: object

In [60]:
s = pd.Series(['Chole Bhature' , 'NOODLES' , 'taco'], index = ['India' , 'Japan' , 'Italy'])
print(s)

India    Chole Bhature
Japan          NOODLES
Italy             taco
dtype: object

In [62]:
companies = pd.Series({'Tata Groups': 'India',
          'Amazon': 'USA',
          'Google': 'USA',
          'Microsoft': 'USA'})
owners = pd.Series(['Jamsetji Tata',
                    'Jeff Bezos',
                    'Larry Page',
                    'Bill Gates'],
                index=['1868',
                       '1994',
                       '1998',
                       '1975'])
companies_and_owners= companies.append(owners)

In [63]:
companies

Tata Groups    India
Amazon           USA
Google           USA
Microsoft        USA
dtype: object

In [64]:
owners

1868    Jamsetji Tata
1994       Jeff Bezos
1998       Larry Page
1975       Bill Gates
dtype: object

In [65]:
companies_and_owners

Tata Groups            India
Amazon                   USA
Google                   USA
Microsoft                USA
1868           Jamsetji Tata
1994              Jeff Bezos
1998              Larry Page
1975              Bill Gates
dtype: object

In [66]:
companies_and_owners.loc['1868']

'Jamsetji Tata'

In [67]:
companies_and_owners.iloc[2:5]

Google                 USA
Microsoft              USA
1868         Jamsetji Tata
dtype: object

In [164]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 23.60})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 20.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 3.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  23.6
Store 1  Kevyn   Kitty Litter  20.5
Store 2  Vinod      Bird Seed   3.0

In [165]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                    3.0
Name: Store 2, dtype: object

In [166]:
df.iloc[2]

Name                  Vinod
Item Purchased    Bird Seed
Cost                    3.0
Name: Store 2, dtype: object

In [167]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [168]:
type(df)

pandas.core.frame.DataFrame

In [74]:
df.shape

(3, 3)

In [75]:
df.ndim

2

In [169]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  23.6
Store 1  Kevyn   Kitty Litter  20.5

In [170]:
df.loc['Store 1', 'Cost']

Store 1    23.6
Store 1    20.5
Name: Cost, dtype: float64

In [171]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                23.6          20.5        3.0

In [172]:
df.T.loc['Cost']

Store 1    23.6
Store 1    20.5
Store 2     3.0
Name: Cost, dtype: object

In [173]:
df['Cost']

Store 1    23.6
Store 1    20.5
Store 2     3.0
Name: Cost, dtype: float64

In [174]:
df.loc['Store 1']['Cost']

Store 1    23.6
Store 1    20.5
Name: Cost, dtype: float64

In [175]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  23.6
Store 1  Kevyn  20.5
Store 2  Vinod   3.0

In [176]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   3.0

In [177]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  23.6
Store 1  Kevyn   Kitty Litter  20.5
Store 2  Vinod      Bird Seed   3.0

In [178]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   3.0

In [180]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   3.0

In [181]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  23.6     None
Store 1  Kevyn   Kitty Litter  20.5     None
Store 2  Vinod      Bird Seed   3.0     None

In [182]:
costs = df['Cost']
costs

Store 1    23.6
Store 1    20.5
Store 2     3.0
Name: Cost, dtype: float64

In [183]:
costs+=2
costs

Store 1    25.6
Store 1    22.5
Store 2     5.0
Name: Cost, dtype: float64

In [184]:
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  25.6     None
Store 1  Kevyn   Kitty Litter  22.5     None
Store 2  Vinod      Bird Seed   5.0     None

In [194]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,â„– Summer,GOLD,SILVER,BRONZE,Total,â„– Winter,GOLD1,SILVER1,BRONZE1,Total,â„– Games,GOLD2,SILVER2,BRONZE2,Combined total
1,AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [195]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,â„– Summer,GOLD,SILVER,BRONZE,Total,â„– Winter,GOLD1,SILVER1,BRONZE1,Total.1,â„– Games,GOLD2,SILVER2,BRONZE2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [196]:
df.columns

Index(['â„– Summer', 'GOLD', 'SILVER', 'BRONZE', 'Total', 'â„– Winter', 'GOLD1',
       'SILVER1', 'BRONZE1', 'Total.1', 'â„– Games', 'GOLD2', 'SILVER2',
       'BRONZE2', 'Combined total'],
      dtype='object')

In [197]:
df.shape

(147, 15)

In [19]:
df.tail(3)

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.0,0.00,0.0,0,0.00,0.0,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.5,11.75,11.5,2,11.25,8.8,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.0,0.00,0.0,0,0.00,0.0,0.000000,0.000000,0,0.000000

In [198]:
df.tail()

,â„– Summer,GOLD,SILVER,BRONZE,Total,â„– Winter,GOLD1,SILVER1,BRONZE1,Total.1,â„– Games,GOLD2,SILVER2,BRONZE2,Combined total
Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [199]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [206]:
only_GOLD = df.where(df['GOLD'] > 0)
only_GOLD.head()

,level_0,index,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
2,2.0,ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
3,3.0,ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
4,4.0,AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [208]:
only_GOLD['GOLD'].count()

100

In [209]:
df['GOLD'].count()

147

In [210]:
only_GOLD = only_GOLD.dropna()
only_GOLD.head()

,level_0,index,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
1,1.0,AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
2,2.0,ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
3,3.0,ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
4,4.0,AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
5,5.0,AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [101]:
df.head()

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  24.5     None
Store 1  Kevyn   Kitty Litter   4.5     None
Store 2  Vinod      Bird Seed   7.0     None

In [211]:
only_GOLD = df[df['GOLD'] > 0]
only_GOLD.head()

,level_0,index,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
1,1,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,2,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,3,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,4,AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
5,5,AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [213]:
len(df[(df['GOLD'] > 0) | (df['GOLD1'] > 0)])

101

In [214]:
df[(df['GOLD1'] > 0) & (df['GOLD'] == 0)]

,level_0,index,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
75,75,LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [215]:
df[(df['SILVER1'] > 0) & (df['SILVER'] == 0)]

,level_0,index,# Summer,GOLD,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total
75,75,LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [105]:
df.head()

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  24.5     None
Store 1  Kevyn   Kitty Litter   4.5     None
Store 2  Vinod      Bird Seed   7.0     None

In [216]:
df['country'] = df.index
df = df.set_index('GOLD')
df.head()

,level_0,index,# Summer,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total,country
GOLD,,,,,,,,,,,,,,,,,
0,0,AfghanistanÂ (AFG),13,0,2,2,0,0,0,0,0,13,0,0,2,2,0
5,1,AlgeriaÂ (ALG),12,2,8,15,3,0,0,0,0,15,5,2,8,15,1
18,2,ArgentinaÂ (ARG),23,24,28,70,18,0,0,0,0,41,18,24,28,70,2
1,3,ArmeniaÂ (ARM),5,2,9,12,6,0,0,0,0,11,1,2,9,12,3
3,4,AustralasiaÂ (ANZ) [ANZ],2,4,5,12,0,0,0,0,0,2,3,4,5,12,4

In [217]:
df[(df['GOLD1'] > 0) & (df['GOLD2'] == 0)]

Empty DataFrame
Columns: [level_0, index, # Summer, SILVER, BRONZE, Total, # Winter, GOLD1, SILVER1, BRONZE1, Total.1, # Games, GOLD2, SILVER2, BRONZE2, Combined total, country]
Index: []

In [218]:
df[(df['BRONZE1'] > 0) & (df['BRONZE'] == 0)]

,level_0,index,# Summer,SILVER,BRONZE,Total,# Winter,GOLD1,SILVER1,BRONZE1,Total.1,# Games,GOLD2,SILVER2,BRONZE2,Combined total,country
GOLD,,,,,,,,,,,,,,,,,
0,75,LiechtensteinÂ (LIE),16,0,0,0,18,2,2,5,9,34,2,2,5,9,75

In [107]:
df = df.reset_index()
df.head()

     index   Name Item Purchased  Cost Location  country
0  Store 1  Chris       Dog Food  24.5     None  Store 1
1  Store 1  Kevyn   Kitty Litter   4.5     None  Store 1
2  Store 2  Vinod      Bird Seed   7.0     None  Store 2

In [237]:
df = pd.read_csv('census.csv')
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [238]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [239]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [240]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014
1,Alabama,Autauga County,151,636,615,574,623,54660,55253,55175,55038,55290
2,Alabama,Baldwin County,517,2187,2092,2160,2186,183193,186659,190396,195126,199713
3,Alabama,Barbour County,70,335,300,283,260,27341,27226,27159,26973,26815
4,Alabama,Bibb County,44,266,245,259,247,22861,22733,22642,22512,22549
5,Alabama,Blount County,183,744,710,646,618,57373,57711,57776,57734,57658

In [241]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  POPESTIMATE2010  POPESTIMATE2011  \
STNAME  CTYNAME
Alabama Autauga County         623            54660            55253
        Baldwin County        2186           183193           186659
        Barbour County         260            27341            27226
        Bibb County            247            22861            22733
        Blount County          618            57373            57711

                        POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014
STNAME  CTYNAME
Alabama Autauga County            55175            55038            55290
        Baldwin County           190396           195126           199713
        Barbour County            27159            26973            26815
        Bibb County               22642            22512            22549
        Blount County             57776            57734            57658

In [242]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
Name: (Michigan, Washtenaw County), dtype: int64

In [243]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  POPESTIMATE2010  POPESTIMATE2011  \
STNAME   CTYNAME
Michigan Washtenaw County        3683           345563           349048
         Wayne County           23607          1815199          1801273

                           POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014
STNAME   CTYNAME
Michigan Washtenaw County           351213           354289           357029
         Wayne County              1792514          1775713          1766008

In [226]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [227]:
df = df.reset_index()
df = df.set_index(['time' , 'user' , 'playback position'])
df

                                     index          video paused  volume
time       user   playback position
1469974424 cheryl 5                      0     intro.html  False    10.0
1469974454 cheryl 6                      1     intro.html    NaN     NaN
1469974544 cheryl 9                      2     intro.html    NaN     NaN
1469974574 cheryl 10                     3     intro.html    NaN     NaN
1469977514 bob    1                      4     intro.html    NaN     NaN
1469977544 bob    1                      5     intro.html    NaN     NaN
1469977574 bob    1                      6     intro.html    NaN     NaN
1469977604 bob    1                      7     intro.html    NaN     NaN
1469974604 cheryl 11                     8     intro.html    NaN     NaN
1469974694 cheryl 14                     9     intro.html    NaN     NaN
1469974724 cheryl 15                    10     intro.html    NaN     NaN
1469974454 sue    24                    11  advanced.html    NaN     NaN
1469974524 sue    25                    12  advanced.html    NaN     NaN
1469974424 sue    23                    13  advanced.html  False    10.0
1469974554 sue    26                    14  advanced.html    NaN     NaN
1469974624 sue    27                    15  advanced.html    NaN     NaN
1469974654 sue    28                    16  advanced.html    NaN     5.0
1469974724 sue    29                    17  advanced.html    NaN     NaN
1469974484 cheryl 7                     18     intro.html    NaN     NaN
1469974514 cheryl 8                     19     intro.html    NaN     NaN
1469974754 sue    30                    20  advanced.html    NaN     NaN
1469974824 sue    31                    21  advanced.html    NaN     NaN
1469974854 sue    32                    22  advanced.html    NaN     NaN
1469974924 sue    33                    23  advanced.html    NaN     NaN
1469977424 bob    1                     24     intro.html   True    10.0
1469977454 bob    1                     25     intro.html    NaN     NaN
1469977484 bob    1                     26     intro.html    NaN     NaN
1469977634 bob    1                     27     intro.html    NaN     NaN
1469977664 bob    1                     28     intro.html    NaN     NaN
1469974634 cheryl 12                    29     intro.html    NaN     NaN
1469974664 cheryl 13                    30     intro.html    NaN     NaN
1469977694 bob    1                     31     intro.html    NaN     NaN
1469977724 bob    1                     32     intro.html    NaN     NaN

In [228]:
values = {'paused':True}
df = df.fillna(value = values , limit = 2)
df.head()

                                     index       video paused  volume
time       user   playback position
1469974424 cheryl 5                      0  intro.html  False    10.0
1469974454 cheryl 6                      1  intro.html   True     NaN
1469974544 cheryl 9                      2  intro.html   True     NaN
1469974574 cheryl 10                     3  intro.html    NaN     NaN
1469977514 bob    1                      4  intro.html    NaN     NaN

In [231]:
df.fillna(104)

                                     index          video paused  volume
time       user   playback position
1469974424 cheryl 5                      0     intro.html  False    10.0
1469974454 cheryl 6                      1     intro.html   True   104.0
1469974544 cheryl 9                      2     intro.html   True   104.0
1469974574 cheryl 10                     3     intro.html    104   104.0
1469977514 bob    1                      4     intro.html    104   104.0
1469977544 bob    1                      5     intro.html    104   104.0
1469977574 bob    1                      6     intro.html    104   104.0
1469977604 bob    1                      7     intro.html    104   104.0
1469974604 cheryl 11                     8     intro.html    104   104.0
1469974694 cheryl 14                     9     intro.html    104   104.0
1469974724 cheryl 15                    10     intro.html    104   104.0
1469974454 sue    24                    11  advanced.html    104   104.0
1469974524 sue    25                    12  advanced.html    104   104.0
1469974424 sue    23                    13  advanced.html  False    10.0
1469974554 sue    26                    14  advanced.html    104   104.0
1469974624 sue    27                    15  advanced.html    104   104.0
1469974654 sue    28                    16  advanced.html    104     5.0
1469974724 sue    29                    17  advanced.html    104   104.0
1469974484 cheryl 7                     18     intro.html    104   104.0
1469974514 cheryl 8                     19     intro.html    104   104.0
1469974754 sue    30                    20  advanced.html    104   104.0
1469974824 sue    31                    21  advanced.html    104   104.0
1469974854 sue    32                    22  advanced.html    104   104.0
1469974924 sue    33                    23  advanced.html    104   104.0
1469977424 bob    1                     24     intro.html   True    10.0
1469977454 bob    1                     25     intro.html    104   104.0
1469977484 bob    1                     26     intro.html    104   104.0
1469977634 bob    1                     27     intro.html    104   104.0
1469977664 bob    1                     28     intro.html    104   104.0
1469974634 cheryl 12                    29     intro.html    104   104.0
1469974664 cheryl 13                    30     intro.html    104   104.0
1469977694 bob    1                     31     intro.html    104   104.0
1469977724 bob    1                     32     intro.html    104   104.0

In [7]:
import pandas as pd
games = pd.read_csv('video_games.csv')
games.head()

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
0,Super Mario 64 DS,True,1,True,True,Action,True,Nintendo,True,85,...,24.916667,29.966667,25.000000,16,18.333333,14.333333,18.316667,14.500000,21,9.700000
1,Lumines: Puzzle Fusion,True,1,True,True,Strategy,True,Ubisoft,True,89,...,9.750000,9.866667,9.750000,2,9.616667,10.333333,11.083333,10.000000,3,9.583333
2,WarioWare Touched!,True,2,True,True,"Action,Racing / Driving,Sports",True,Nintendo,True,81,...,3.850000,5.666667,3.333333,11,2.783333,1.916667,2.933333,1.833333,30,1.433333
3,Hot Shots Golf: Open Tee,True,1,True,True,Sports,True,Sony,True,81,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
4,Spider-Man 2,True,1,True,True,Action,True,Activision,True,61,...,12.766667,17.316667,12.500000,12,10.483333,8.350000,11.083333,8.000000,23,5.333333

In [8]:
games.shape

(1212, 36)

In [9]:
games.tail(10)

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
1202,Supreme Commander,True,1,True,True,Strategy,True,NaN,True,56,...,26.266667,30.516667,25.85,5,20.516667,19.600000,27.150000,19.000000,13,16.150000
1203,Hail to the Chimp,True,4,True,True,"Action,Strategy",True,NaN,True,52,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1204,Assassin's Creed: Altar's Chronicles,True,1,True,True,Action,True,Ubisoft,True,58,...,4.516667,4.616667,4.50,3,4.416667,5.183333,7.033333,5.000000,14,4.200000
1205,The Legend of Kage 2,True,1,True,True,Action,True,SquareEnix,True,70,...,0.000000,0.000000,0.00,0,0.000000,3.333333,3.333333,3.333333,1,3.333333
1206,Rhapsody: A Musical Adventure,True,1,True,True,Role-Playing (RPG),True,NaN,True,67,...,13.200000,16.416667,12.50,5,11.166667,9.650000,10.933333,9.133333,22,8.066667
1207,Secret Files: Tunguska,True,1,True,True,Adventure,True,NaN,True,71,...,11.500000,11.750000,11.50,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1208,Fading Shadows,True,1,True,True,"Action,Adventure",True,NaN,True,62,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.500000,11.750000,11.50,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000

In [10]:
games[games.isnull().any(axis=1)]

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
10,Dynasty Warriors,True,1,True,True,"Action,Adventure,Role-Playing (RPG)",True,NaN,True,62,...,0.000000,0.000000,0.00,0,0.000000,8.883333,18.050000,2.083333,4,3.116667
17,Zoo Keeper,True,1,True,True,Action,True,NaN,True,74,...,0.000000,0.000000,0.00,0,0.000000,6.000000,7.750000,5.000000,4,4.750000
20,Armored Core: Formula Front - Extreme Battle,True,1,True,True,"Action,Strategy",True,NaN,True,66,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
34,Star Wars: Battlefront II,True,1,True,True,Action,True,NaN,True,69,...,13.416667,16.683333,13.35,25,9.833333,7.783333,11.233333,8.000000,60,5.350000
56,Dead or Alive 4,True,4,True,True,Action,True,NaN,True,85,...,11.066667,15.266667,10.00,7,7.766667,3.733333,5.400000,3.850000,14,2.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,Secret Files: Tunguska,True,1,True,True,Adventure,True,NaN,True,71,...,11.500000,11.750000,11.50,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1208,Fading Shadows,True,1,True,True,"Action,Adventure",True,NaN,True,62,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.500000,11.750000,11.50,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.000000,0.000000,0.00,0,0.000000,0.000000,0.000000,0.000000,0,0.000000

In [12]:
games.columns

Index(['Title', 'Features.Handheld?', 'Features.Max Players',
       'Features.Multiplatform?', 'Features.Online?', 'Metadata.Genres',
       'Metadata.Licensed?', 'Metadata.Publishers', 'Metadata.Sequel?',
       'Metrics.Review Score', 'Metrics.Sales', 'Metrics.Used Price',
       'Release.Console', 'Release.Rating', 'Release.Re-release?',
       'Release.Year', 'Length.All PlayStyles.Average',
       'Length.All PlayStyles.Leisure', 'Length.All PlayStyles.Median',
       'Length.All PlayStyles.Polled', 'Length.All PlayStyles.Rushed',
       'Length.Completionists.Average', 'Length.Completionists.Leisure',
       'Length.Completionists.Median', 'Length.Completionists.Polled',
       'Length.Completionists.Rushed', 'Length.Main + Extras.Average',
       'Length.Main + Extras.Leisure', 'Length.Main + Extras.Median',
       'Length.Main + Extras.Polled', 'Length.Main + Extras.Rushed',
       'Length.Main Story.Average', 'Length.Main Story.Leisure',
       'Length.Main Story.Median', 'Length.Main Story.Polled',
       'Length.Main Story.Rushed'],
      dtype='object')

In [14]:
games.isnull()

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1208,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1209,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1210,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1211,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
games.dropna(axis=1, how='all')

,Title,Features.Handheld?,Features.Max Players,Features.Multiplatform?,Features.Online?,Metadata.Genres,Metadata.Licensed?,Metadata.Publishers,Metadata.Sequel?,Metrics.Review Score,...,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Polled,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median,Length.Main Story.Polled,Length.Main Story.Rushed
0,Super Mario 64 DS,True,1,True,True,Action,True,Nintendo,True,85,...,24.916667,29.966667,25.000000,16,18.333333,14.333333,18.316667,14.500000,21,9.700000
1,Lumines: Puzzle Fusion,True,1,True,True,Strategy,True,Ubisoft,True,89,...,9.750000,9.866667,9.750000,2,9.616667,10.333333,11.083333,10.000000,3,9.583333
2,WarioWare Touched!,True,2,True,True,"Action,Racing / Driving,Sports",True,Nintendo,True,81,...,3.850000,5.666667,3.333333,11,2.783333,1.916667,2.933333,1.833333,30,1.433333
3,Hot Shots Golf: Open Tee,True,1,True,True,Sports,True,Sony,True,81,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
4,Spider-Man 2,True,1,True,True,Action,True,Activision,True,61,...,12.766667,17.316667,12.500000,12,10.483333,8.350000,11.083333,8.000000,23,5.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,Secret Files: Tunguska,True,1,True,True,Adventure,True,NaN,True,71,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1208,Fading Shadows,True,1,True,True,"Action,Adventure",True,NaN,True,62,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1209,Hail to the Chimp,True,1,True,True,"Action,Strategy",True,NaN,True,51,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000
1210,Secret Files: Tunguska,True,2,True,True,Adventure,True,NaN,True,64,...,11.500000,11.750000,11.500000,2,11.250000,8.800000,12.566667,8.716667,16,6.816667
1211,Chicken Hunter,True,1,True,True,Action,True,NaN,True,39,...,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,0.000000

In [17]:
games = games.reset_index()
games= games.set_index(['Features.Max Players' , 'Metadata.Genres' , 'Length.Main Story.Rushed'])
games

                                                                              level_0  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                        0
                     Strategy                       9.583333                        1
2                    Action,Racing / Driving,Sports 1.433333                        2
1                    Sports                         0.000000                        3
                     Action                         5.333333                        4
...                                                                               ...
                     Adventure                      6.816667                     1207
                     Action,Adventure               0.000000                     1208
                     Action,Strategy                0.000000                     1209
2                    Adventure                      6.816667                     1210
1                    Action                         0.000000                     1211

                                                                              index  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                      0
                     Strategy                       9.583333                      1
2                    Action,Racing / Driving,Sports 1.433333                      2
1                    Sports                         0.000000                      3
                     Action                         5.333333                      4
...                                                                             ...
                     Adventure                      6.816667                   1207
                     Action,Adventure               0.000000                   1208
                     Action,Strategy                0.000000                   1209
2                    Adventure                      6.816667                   1210
1                    Action                         0.000000                   1211

                                                                                                 Title  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                         Super Mario 64 DS
                     Strategy                       9.583333                    Lumines: Puzzle Fusion
2                    Action,Racing / Driving,Sports 1.433333                        WarioWare Touched!
1                    Sports                         0.000000                  Hot Shots Golf: Open Tee
                     Action                         5.333333                              Spider-Man 2
...                                                                                                ...
                     Adventure                      6.816667                    Secret Files: Tunguska
                     Action,Adventure               0.000000                            Fading Shadows
                     Action,Strategy                0.000000                         Hail to the Chimp
2                    Adventure                      6.816667                    Secret Files: Tunguska
1                    Action                         0.000000                            Chicken Hunter

                                                                              Features.Handheld?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                True
                     Strategy                       9.583333                                True
2                    Action,Racing / Driving,Sports 1.433333                                True
1                    Sports                         0.000000                                True
                     Action                         5.333333                                True
...                                                                                          ...
                     Adventure                      6.816667                                True
                     Action,Adventure               0.000000                                True
                     Action,Strategy                0.000000                                True
2                    Adventure                      6.816667                                True
1                    Action                         0.000000                                True

                                                                              Features.Multiplatform?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     True
                     Strategy                       9.583333                                     True
2                    Action,Racing / Driving,Sports 1.433333                                     True
1                    Sports                         0.000000                                     True
                     Action                         5.333333                                     True
...                                                                                               ...
                     Adventure                      6.816667                                     True
                     Action,Adventure               0.000000                                     True
                     Action,Strategy                0.000000                                     True
2                    Adventure                      6.816667                                     True
1                    Action                         0.000000                                     True

                                                                              Features.Online?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                              True
                     Strategy                       9.583333                              True
2                    Action,Racing / Driving,Sports 1.433333                              True
1                    Sports                         0.000000                              True
                     Action                         5.333333                              True
...                                                                                        ...
                     Adventure                      6.816667                              True
                     Action,Adventure               0.000000                              True
                     Action,Strategy                0.000000                              True
2                    Adventure                      6.816667                              True
1                    Action                         0.000000                              True

                                                                              Metadata.Licensed?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                True
                     Strategy                       9.583333                                True
2                    Action,Racing / Driving,Sports 1.433333                                True
1                    Sports                         0.000000                                True
                     Action                         5.333333                                True
...                                                                                          ...
                     Adventure                      6.816667                                True
                     Action,Adventure               0.000000                                True
                     Action,Strategy                0.000000                                True
2                    Adventure                      6.816667                                True
1                    Action                         0.000000                                True

                                                                             Metadata.Publishers  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                            Nintendo
                     Strategy                       9.583333                             Ubisoft
2                    Action,Racing / Driving,Sports 1.433333                            Nintendo
1                    Sports                         0.000000                                Sony
                     Action                         5.333333                          Activision
...                                                                                          ...
                     Adventure                      6.816667                                 NaN
                     Action,Adventure               0.000000                                 NaN
                     Action,Strategy                0.000000                                 NaN
2                    Adventure                      6.816667                                 NaN
1                    Action                         0.000000                                 NaN

                                                                              Metadata.Sequel?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                              True
                     Strategy                       9.583333                              True
2                    Action,Racing / Driving,Sports 1.433333                              True
1                    Sports                         0.000000                              True
                     Action                         5.333333                              True
...                                                                                        ...
                     Adventure                      6.816667                              True
                     Action,Adventure               0.000000                              True
                     Action,Strategy                0.000000                              True
2                    Adventure                      6.816667                              True
1                    Action                         0.000000                              True

                                                                              Metrics.Review Score  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                    85
                     Strategy                       9.583333                                    89
2                    Action,Racing / Driving,Sports 1.433333                                    81
1                    Sports                         0.000000                                    81
                     Action                         5.333333                                    61
...                                                                                            ...
                     Adventure                      6.816667                                    71
                     Action,Adventure               0.000000                                    62
                     Action,Strategy                0.000000                                    51
2                    Adventure                      6.816667                                    64
1                    Action                         0.000000                                    39

                                                                              ...  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed  ...
1                    Action                         9.700000                  ...
                     Strategy                       9.583333                  ...
2                    Action,Racing / Driving,Sports 1.433333                  ...
1                    Sports                         0.000000                  ...
                     Action                         5.333333                  ...
...                                                                           ...
                     Adventure                      6.816667                  ...
                     Action,Adventure               0.000000                  ...
                     Action,Strategy                0.000000                  ...
2                    Adventure                      6.816667                  ...
1                    Action                         0.000000                  ...

                                                                              Length.Completionists.Rushed  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     22.016667
                     Strategy                       9.583333                                      0.000000
2                    Action,Racing / Driving,Sports 1.433333                                      6.800000
1                    Sports                         0.000000                                      0.000000
                     Action                         5.333333                                     66.283333
...                                                                                                    ...
                     Adventure                      6.816667                                     10.500000
                     Action,Adventure               0.000000                                      0.000000
                     Action,Strategy                0.000000                                      0.000000
2                    Adventure                      6.816667                                     10.500000
1                    Action                         0.000000                                      1.500000

                                                                              Length.Main + Extras.Average  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     24.916667
                     Strategy                       9.583333                                      9.750000
2                    Action,Racing / Driving,Sports 1.433333                                      3.850000
1                    Sports                         0.000000                                      0.000000
                     Action                         5.333333                                     12.766667
...                                                                                                    ...
                     Adventure                      6.816667                                     11.500000
                     Action,Adventure               0.000000                                      0.000000
                     Action,Strategy                0.000000                                      0.000000
2                    Adventure                      6.816667                                     11.500000
1                    Action                         0.000000                                      0.000000

                                                                             Length.Main + Extras.Leisure  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                    29.966667
                     Strategy                       9.583333                                     9.866667
2                    Action,Racing / Driving,Sports 1.433333                                     5.666667
1                    Sports                         0.000000                                     0.000000
                     Action                         5.333333                                    17.316667
...                                                                                                   ...
                     Adventure                      6.816667                                    11.750000
                     Action,Adventure               0.000000                                     0.000000
                     Action,Strategy                0.000000                                     0.000000
2                    Adventure                      6.816667                                    11.750000
1                    Action                         0.000000                                     0.000000

                                                                             Length.Main + Extras.Median  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                   25.000000
                     Strategy                       9.583333                                    9.750000
2                    Action,Racing / Driving,Sports 1.433333                                    3.333333
1                    Sports                         0.000000                                    0.000000
                     Action                         5.333333                                   12.500000
...                                                                                                  ...
                     Adventure                      6.816667                                   11.500000
                     Action,Adventure               0.000000                                    0.000000
                     Action,Strategy                0.000000                                    0.000000
2                    Adventure                      6.816667                                   11.500000
1                    Action                         0.000000                                    0.000000

                                                                              Length.Main + Extras.Polled  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                           16
                     Strategy                       9.583333                                            2
2                    Action,Racing / Driving,Sports 1.433333                                           11
1                    Sports                         0.000000                                            0
                     Action                         5.333333                                           12
...                                                                                                   ...
                     Adventure                      6.816667                                            2
                     Action,Adventure               0.000000                                            0
                     Action,Strategy                0.000000                                            0

In [ ]:
games[['Length.Main Story.Rushed','Length.Completionists.Rushed']].agg(['min','mean','max'])

In [51]:
games.shape

(1212, 32)

In [18]:
values = {'paused':True}
games =games.fillna(value = values , limit = 2)
games.head()

                                                                              level_0  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                        0
                     Strategy                       9.583333                        1
2                    Action,Racing / Driving,Sports 1.433333                        2
1                    Sports                         0.000000                        3
                     Action                         5.333333                        4

                                                                              index  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                      0
                     Strategy                       9.583333                      1
2                    Action,Racing / Driving,Sports 1.433333                      2
1                    Sports                         0.000000                      3
                     Action                         5.333333                      4

                                                                                                 Title  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                         Super Mario 64 DS
                     Strategy                       9.583333                    Lumines: Puzzle Fusion
2                    Action,Racing / Driving,Sports 1.433333                        WarioWare Touched!
1                    Sports                         0.000000                  Hot Shots Golf: Open Tee
                     Action                         5.333333                              Spider-Man 2

                                                                              Features.Handheld?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                True
                     Strategy                       9.583333                                True
2                    Action,Racing / Driving,Sports 1.433333                                True
1                    Sports                         0.000000                                True
                     Action                         5.333333                                True

                                                                              Features.Multiplatform?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     True
                     Strategy                       9.583333                                     True
2                    Action,Racing / Driving,Sports 1.433333                                     True
1                    Sports                         0.000000                                     True
                     Action                         5.333333                                     True

                                                                              Features.Online?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                              True
                     Strategy                       9.583333                              True
2                    Action,Racing / Driving,Sports 1.433333                              True
1                    Sports                         0.000000                              True
                     Action                         5.333333                              True

                                                                              Metadata.Licensed?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                True
                     Strategy                       9.583333                                True
2                    Action,Racing / Driving,Sports 1.433333                                True
1                    Sports                         0.000000                                True
                     Action                         5.333333                                True

                                                                             Metadata.Publishers  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                            Nintendo
                     Strategy                       9.583333                             Ubisoft
2                    Action,Racing / Driving,Sports 1.433333                            Nintendo
1                    Sports                         0.000000                                Sony
                     Action                         5.333333                          Activision

                                                                              Metadata.Sequel?  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                              True
                     Strategy                       9.583333                              True
2                    Action,Racing / Driving,Sports 1.433333                              True
1                    Sports                         0.000000                              True
                     Action                         5.333333                              True

                                                                              Metrics.Review Score  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                    85
                     Strategy                       9.583333                                    89
2                    Action,Racing / Driving,Sports 1.433333                                    81
1                    Sports                         0.000000                                    81
                     Action                         5.333333                                    61

                                                                              ...  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed  ...
1                    Action                         9.700000                  ...
                     Strategy                       9.583333                  ...
2                    Action,Racing / Driving,Sports 1.433333                  ...
1                    Sports                         0.000000                  ...
                     Action                         5.333333                  ...

                                                                              Length.Completionists.Rushed  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     22.016667
                     Strategy                       9.583333                                      0.000000
2                    Action,Racing / Driving,Sports 1.433333                                      6.800000
1                    Sports                         0.000000                                      0.000000
                     Action                         5.333333                                     66.283333

                                                                              Length.Main + Extras.Average  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                     24.916667
                     Strategy                       9.583333                                      9.750000
2                    Action,Racing / Driving,Sports 1.433333                                      3.850000
1                    Sports                         0.000000                                      0.000000
                     Action                         5.333333                                     12.766667

                                                                             Length.Main + Extras.Leisure  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                    29.966667
                     Strategy                       9.583333                                     9.866667
2                    Action,Racing / Driving,Sports 1.433333                                     5.666667
1                    Sports                         0.000000                                     0.000000
                     Action                         5.333333                                    17.316667

                                                                             Length.Main + Extras.Median  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                   25.000000
                     Strategy                       9.583333                                    9.750000
2                    Action,Racing / Driving,Sports 1.433333                                    3.333333
1                    Sports                         0.000000                                    0.000000
                     Action                         5.333333                                   12.500000

                                                                              Length.Main + Extras.Polled  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                           16
                     Strategy                       9.583333                                            2
2                    Action,Racing / Driving,Sports 1.433333                                           11
1                    Sports                         0.000000                                            0
                     Action                         5.333333                                           12

                                                                              Length.Main + Extras.Rushed  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                    18.333333
                     Strategy                       9.583333                                     9.616667
2                    Action,Racing / Driving,Sports 1.433333                                     2.783333
1                    Sports                         0.000000                                     0.000000
                     Action                         5.333333                                    10.483333

                                                                              Length.Main Story.Average  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                  14.333333
                     Strategy                       9.583333                                  10.333333
2                    Action,Racing / Driving,Sports 1.433333                                   1.916667
1                    Sports                         0.000000                                   0.000000
                     Action                         5.333333                                   8.350000

                                                                              Length.Main Story.Leisure  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                  18.316667
                     Strategy                       9.583333                                  11.083333
2                    Action,Racing / Driving,Sports 1.433333                                   2.933333
1                    Sports                         0.000000                                   0.000000
                     Action                         5.333333                                  11.083333

                                                                              Length.Main Story.Median  \
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                 14.500000
                     Strategy                       9.583333                                 10.000000
2                    Action,Racing / Driving,Sports 1.433333                                  1.833333
1                    Sports                         0.000000                                  0.000000
                     Action                         5.333333                                  8.000000

                                                                              Length.Main Story.Polled
Features.Max Players Metadata.Genres                Length.Main Story.Rushed
1                    Action                         9.700000                                        21
                     Strategy                       9.583333                                         3
2                    Action,Racing / Driving,Sports 1.433333                                        30
1                    Sports                         0.000000                                         0
                     Action                         5.333333                                        23

[5 rows x 35 columns]

In [35]:
games = games.fillna(method='ffill')
games.head()

,,,,,,Metadata.Genres,Length.Main Story.Rushed,level_0,index,Features.Handheld?,Features.Multiplatform?,Features.Online?,Metadata.Licensed?,Metadata.Sequel?,Metrics.Sales,...,Length.Completionists.Median,Length.Completionists.Polled,Length.Completionists.Rushed,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median
Title,Features.Max Players,Metadata.Publishers,Metrics.Review Score,Length.Main + Extras.Polled,Length.Main Story.Polled,,,,,,,,,,,,,,,,,,,,,
Super Mario 64 DS,1,Nintendo,85,16,21,Action,9.700000,0,0,True,True,True,True,True,4.69,...,30.000000,20,22.016667,24.916667,29.966667,25.000000,18.333333,14.333333,18.316667,14.500000
Lumines: Puzzle Fusion,1,Ubisoft,89,2,3,Strategy,9.583333,1,1,True,True,True,True,True,0.56,...,0.000000,0,0.000000,9.750000,9.866667,9.750000,9.616667,10.333333,11.083333,10.000000
WarioWare Touched!,2,Nintendo,81,11,30,"Action,Racing / Driving,Sports",1.433333,2,2,True,True,True,True,True,0.54,...,7.250000,16,6.800000,3.850000,5.666667,3.333333,2.783333,1.916667,2.933333,1.833333
Hot Shots Golf: Open Tee,1,Sony,81,0,0,Sports,0.000000,3,3,True,True,True,True,True,0.49,...,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Spider-Man 2,1,Activision,61,12,23,Action,5.333333,4,4,True,True,True,True,True,0.45,...,72.566667,2,66.283333,12.766667,17.316667,12.500000,10.483333,8.350000,11.083333,8.000000

In [20]:
games = games.reset_index()
games= games.set_index(['Title','Features.Max Players' , 'Metadata.Publishers' , 'Metrics.Review Score','Length.Main + Extras.Polled','Length.Main Story.Polled'])
games

,,,,,,Metadata.Genres,Length.Main Story.Rushed,level_0,index,Features.Handheld?,Features.Multiplatform?,Features.Online?,Metadata.Licensed?,Metadata.Sequel?,Metrics.Sales,...,Length.Completionists.Median,Length.Completionists.Polled,Length.Completionists.Rushed,Length.Main + Extras.Average,Length.Main + Extras.Leisure,Length.Main + Extras.Median,Length.Main + Extras.Rushed,Length.Main Story.Average,Length.Main Story.Leisure,Length.Main Story.Median
Title,Features.Max Players,Metadata.Publishers,Metrics.Review Score,Length.Main + Extras.Polled,Length.Main Story.Polled,,,,,,,,,,,,,,,,,,,,,
Super Mario 64 DS,1,Nintendo,85,16,21,Action,9.700000,0,0,True,True,True,True,True,4.69,...,30.000000,20,22.016667,24.916667,29.966667,25.000000,18.333333,14.333333,18.316667,14.500000
Lumines: Puzzle Fusion,1,Ubisoft,89,2,3,Strategy,9.583333,1,1,True,True,True,True,True,0.56,...,0.000000,0,0.000000,9.750000,9.866667,9.750000,9.616667,10.333333,11.083333,10.000000
WarioWare Touched!,2,Nintendo,81,11,30,"Action,Racing / Driving,Sports",1.433333,2,2,True,True,True,True,True,0.54,...,7.250000,16,6.800000,3.850000,5.666667,3.333333,2.783333,1.916667,2.933333,1.833333
Hot Shots Golf: Open Tee,1,Sony,81,0,0,Sports,0.000000,3,3,True,True,True,True,True,0.49,...,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Spider-Man 2,1,Activision,61,12,23,Action,5.333333,4,4,True,True,True,True,True,0.45,...,72.566667,2,66.283333,12.766667,17.316667,12.500000,10.483333,8.350000,11.083333,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Secret Files: Tunguska,1,NaN,71,2,16,Adventure,6.816667,1207,1207,True,True,True,True,True,0.03,...,12.000000,9,10.500000,11.500000,11.750000,11.500000,11.250000,8.800000,12.566667,8.716667
Fading Shadows,1,NaN,62,0,0,"Action,Adventure",0.000000,1208,1208,True,True,True,True,True,0.03,...,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Hail to the Chimp,1,NaN,51,0,0,"Action,Strategy",0.000000,1209,1209,True,True,True,True,True,0.03,...,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Secret Files: Tunguska,2,NaN,64,2,16,Adventure,6.816667,1210,1210,True,True,True,True,True,0.02,...,12.000000,9,10.500000,11.500000,11.750000,11.500000,11.250000,8.800000,12.566667,8.716667
Chicken Hunter,1,NaN,39,0,0,Action,0.000000,1211,1211,True,True,True,True,True,0.02,...,1.500000,1,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [21]:
import pandas as pd
cars = pd.read_csv('cars.csv')
cars.head()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207
3,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
4,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207

In [22]:
cars.head(10)

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207
3,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
4,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
5,91,17,62,All-wheel drive,Audi 3.2L 6 cylinder 265hp 243 ft-lbs,True,6,6 Speed Manual,16,Gasoline,27,Manual transmission,2009 Audi A5 3.2,Audi,2009 Audi A5,2009,265,243
6,91,17,62,All-wheel drive,Audi 3.2L 6 cylinder 265hp 243 ft-lbs,True,6,6 Speed Automatic Select Shift,17,Gasoline,26,Automatic transmission,2009 Audi A5 3.2 AT,Audi,2009 Audi A5,2009,265,243
7,201,221,191,All-wheel drive,Audi 4.2L 8 cylinder 350 hp 325 ft-lbs,True,6,6 Speed Automatic Select Shift,13,Gasoline,18,Automatic transmission,2009 Audi Q7 4.2,Audi,2009 Audi Q7,2009,350,325
8,201,221,191,All-wheel drive,Audi 3.6L 6 cylinder 280hp 266 ft-lbs,True,6,6 Speed Automatic Select Shift,14,Gasoline,20,Automatic transmission,2009 Audi Q7 3.6,Audi,2009 Audi Q7,2009,280,266
9,147,96,34,All-wheel drive,Audi 2.0L 4 cylinder 211 hp 258 ft-lbs Turbo,True,6,6 Speed Manual,22,Gasoline,30,Manual transmission,2009 Audi A4 Sedan 2.0 T Quattro,Audi,2009 Audi A4 Sedan,2009,211,258

In [23]:
cars.shape

(5076, 18)

In [24]:
cars.tail()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
5071,13,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot EX-L,Honda,2012 Honda Pilot,2012,250,253
5072,141,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo Coupe LP 560-4,Lamborghini,2012 Lamborghini Gallardo Coup,2012,552,398
5073,160,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo LP 560-4 Spyder,Lamborghini,2012 Lamborghini Gallardo Spyder,2012,552,398
5074,200,210,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740i Sedan,BMW,2012 BMW 7 Series,2012,315,330
5075,200,94,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740Li Sedan,BMW,2012 BMW 7 Series,2012,315,330

In [25]:
cars.tail(13)

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
5063,201,33,219,Front-wheel drive,Honda 3.5L 6 Cylinder 248 hp 250 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,27,Automatic transmission,2012 Honda Odyssey EX-L,Honda,2012 Honda Odyssey,2012,248,250
5064,201,33,219,Front-wheel drive,Honda 3.5L 6 Cylinder 248 hp 250 ft-lbs,True,6,6 Speed Automatic,19,Gasoline,28,Automatic transmission,2012 Honda Odyssey Touring,Honda,2012 Honda Odyssey,2012,248,250
5065,201,33,219,Front-wheel drive,Honda 3.5L 6 Cylinder 248 hp 250 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,27,Automatic transmission,2012 Honda Odyssey EX,Honda,2012 Honda Odyssey,2012,248,250
5066,201,33,219,Front-wheel drive,Honda 3.5L 6 Cylinder 248 hp 250 ft-lbs,True,6,6 Speed Automatic,19,Gasoline,28,Automatic transmission,2012 Honda Odyssey Touring Elite,Honda,2012 Honda Odyssey,2012,248,250
5067,3,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot LX,Honda,2012 Honda Pilot,2012,250,253
5068,3,253,201,Four-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,17,Gasoline,24,Automatic transmission,2012 Honda Pilot LX 4WD,Honda,2012 Honda Pilot,2012,250,253
5069,3,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot EX,Honda,2012 Honda Pilot,2012,250,253
5070,3,253,201,Four-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,17,Gasoline,24,Automatic transmission,2012 Honda Pilot EX 4WD,Honda,2012 Honda Pilot,2012,250,253
5071,13,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot EX-L,Honda,2012 Honda Pilot,2012,250,253
5072,141,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo Coupe LP 560-4,Lamborghini,2012 Lamborghini Gallardo Coup,2012,552,398
5073,160,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo LP 560-4 Spyder,Lamborghini,2012 Lamborghini Gallardo Spyder,2012,552,398
5074,200,210,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740i Sedan,BMW,2012 BMW 7 Series,2012,315,330
5075,200,94,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740Li Sedan,BMW,2012 BMW 7 Series,2012,315,330

In [26]:
cars[cars.isnull().any(axis=1)]

Empty DataFrame
Columns: [Dimensions.Height, Dimensions.Length, Dimensions.Width, Engine Information.Driveline, Engine Information.Engine Type, Engine Information.Hybrid, Engine Information.Number of Forward Gears, Engine Information.Transmission, Fuel Information.City mpg, Fuel Information.Fuel Type, Fuel Information.Highway mpg, Identification.Classification, Identification.ID, Identification.Make, Identification.Model Year, Identification.Year, Engine Information.Engine Statistics.Horsepower, Engine Information.Engine Statistics.Torque]
Index: []

In [28]:
cars.columns

Index(['Dimensions.Height', 'Dimensions.Length', 'Dimensions.Width',
       'Engine Information.Driveline', 'Engine Information.Engine Type',
       'Engine Information.Hybrid',
       'Engine Information.Number of Forward Gears',
       'Engine Information.Transmission', 'Fuel Information.City mpg',
       'Fuel Information.Fuel Type', 'Fuel Information.Highway mpg',
       'Identification.Classification', 'Identification.ID',
       'Identification.Make', 'Identification.Model Year',
       'Identification.Year',
       'Engine Information.Engine Statistics.Horsepower',
       'Engine Information.Engine Statistics.Torque'],
      dtype='object')

In [29]:
cars.isnull()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5072,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5073,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5074,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5075,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
cars.dropna(axis=1, how='all')

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207
3,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
4,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071,13,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot EX-L,Honda,2012 Honda Pilot,2012,250,253
5072,141,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo Coupe LP 560-4,Lamborghini,2012 Lamborghini Gallardo Coup,2012,552,398
5073,160,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo LP 560-4 Spyder,Lamborghini,2012 Lamborghini Gallardo Spyder,2012,552,398
5074,200,210,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740i Sedan,BMW,2012 BMW 7 Series,2012,315,330
5075,200,94,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740Li Sedan,BMW,2012 BMW 7 Series,2012,315,330

In [31]:
cars = cars.reset_index()
cars = cars.set_index(['Dimensions.Height' , 'Engine Information.Engine Type' , 'Engine Information.Engine Statistics.Horsepower'])
cars

                                                                                                                  index  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                  0
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                  1
                                                                 200                                                  2
                                                                 200                                                  3
                                                                 200                                                  4
...                                                                                                                 ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                               5071
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                               5072
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                               5073
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                               5074
                                                                 315                                               5075

                                                                                                                  Dimensions.Length  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                            143
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                            143
                                                                 200                                                            143
                                                                 200                                                            143
                                                                 200                                                            143
...                                                                                                                             ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                            253
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                            249
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                            249
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                            210
                                                                 315                                                             94

                                                                                                                  Dimensions.Width  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                           202
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                           202
                                                                 200                                                           202
                                                                 200                                                           202
                                                                 200                                                           202
...                                                                                                                            ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                           201
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                           108
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                           108
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                           110
                                                                 315                                                           110

                                                                                                                 Engine Information.Driveline  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                          All-wheel drive
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                        Front-wheel drive
                                                                 200                                                        Front-wheel drive
                                                                 200                                                          All-wheel drive
                                                                 200                                                          All-wheel drive
...                                                                                                                                       ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                        Front-wheel drive
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                          All-wheel drive
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                          All-wheel drive
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                         Rear-wheel drive
                                                                 315                                                         Rear-wheel drive

                                                                                                                  Engine Information.Hybrid  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                                   True
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                                   True
                                                                 200                                                                   True
                                                                 200                                                                   True
                                                                 200                                                                   True
...                                                                                                                                     ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                                   True
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                   True
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                   True
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                                   True
                                                                 315                                                                   True

                                                                                                                  Engine Information.Number of Forward Gears  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                                                       6
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                                                       6
                                                                 200                                                                                       6
                                                                 200                                                                                       6
                                                                 200                                                                                       6
...                                                                                                                                                      ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                                                       5
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                                       6
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                                       6
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                                                       6
                                                                 315                                                                                       6

                                                                                                                 Engine Information.Transmission  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                              6 Speed Automatic Select Shift
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                              6 Speed Automatic Select Shift
                                                                 200                                                              6 Speed Manual
                                                                 200                                              6 Speed Automatic Select Shift
                                                                 200                                              6 Speed Automatic Select Shift
...                                                                                                                                          ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                           5 Speed Automatic
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                              6 Speed Manual
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                              6 Speed Manual
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                              6 Speed Automatic Select Shift
                                                                 315                                              6 Speed Automatic Select Shift

                                                                                                                  Fuel Information.City mpg  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                                     18
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                                     22
                                                                 200                                                                     21
                                                                 200                                                                     21
                                                                 200                                                                     21
...                                                                                                                                     ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                                     18
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                     12
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                     12
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                                     17
                                                                 315                                                                     17

                                                                                                                 Fuel Information.Fuel Type  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                               Gasoline
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                               Gasoline
                                                                 200                                                               Gasoline
                                                                 200                                                               Gasoline
                                                                 200                                                               Gasoline
...                                                                                                                                     ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                               Gasoline
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                               Gasoline
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                               Gasoline
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                               Gasoline
                                                                 315                                                               Gasoline

                                                                                                                  Fuel Information.Highway mpg  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                                        25
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                                        28
                                                                 200                                                                        30
                                                                 200                                                                        28
                                                                 200                                                                        28
...                                                                                                                                        ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                                        25
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                        20
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                                        20
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                                        25
                                                                 315                                                                        25

                                                                                                                 Identification.Classification  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower
140               Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                                    Automatic transmission
                  Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                                    Automatic transmission
                                                                 200                                                       Manual transmission
                                                                 200                                                    Automatic transmission
                                                                 200                                                    Automatic transmission
...                                                                                                                                        ...
13                Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                                    Automatic transmission
141               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                       Manual transmission
160               Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                                       Manual transmission
200               BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                                    Automatic transmission
                                                                 315                                                    Automatic transmission

                                                                                                                                          Identification.ID  \
Dimensions.Height Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower

In [32]:
cars = cars.reset_index()
cars = cars.set_index(['Engine Information.Number of Forward Gears' , 'Engine Information.Engine Type' , 'Engine Information.Engine Statistics.Horsepower','Fuel Information.Fuel Type','Identification.Model Year'])
cars

                                                                                                                                                                                                       Dimensions.Height  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    140
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                 13
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  141
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                160
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               200
                                                                                                                                                                     2012 BMW 7 Series                               200

                                                                                                                                                                                                       index  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                          0
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                          1
                                                                                                                                                                     2009 Audi A3                          2
                                                                                                                                                                     2009 Audi A3                          3
                                                                                                                                                                     2009 Audi A3                          4
...                                                                                                                                                                                                      ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                   5071
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup     5072
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder   5073
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                  5074
                                                                                                                                                                     2012 BMW 7 Series                  5075

                                                                                                                                                                                                       Dimensions.Length  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    143
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                253
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  249
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                249
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               210
                                                                                                                                                                     2012 BMW 7 Series                                94

                                                                                                                                                                                                       Dimensions.Width  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                   202
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
...                                                                                                                                                                                                                 ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               201
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                 108
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder               108
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                              110
                                                                                                                                                                     2012 BMW 7 Series                              110

                                                                                                                                                                                                      Engine Information.Driveline  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                  All-wheel drive
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
...                                                                                                                                                                                                                            ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                            Front-wheel drive
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                All-wheel drive
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder              All-wheel drive
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                            Rear-wheel drive
                                                                                                                                                                     2012 BMW 7 Series                            Rear-wheel drive

                                                                                                                                                                                                       Engine Information.Hybrid  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                           True
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
...                                                                                                                                                                                                                          ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                       True
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                         True
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                       True
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                                      True
                                                                                                                                                                     2012 BMW 7 Series                                      True

                                                                                                                                                                                                      Engine Information.Transmission  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                                      6 Speed Manual
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
...                                                                                                                                                                                                                               ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               5 Speed Automatic
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                    6 Speed Manual
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                  6 Speed Manual
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                 6 Speed Automatic Select Shift
                                                                                                                                                                     2012 BMW 7 Series                 6 Speed Automatic Select Shift


In [33]:
values = {'paused':True}
cars =cars.fillna(value = values , limit = 2)
cars.head()

                                                                                                                                                                                              Dimensions.Height  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             140
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140

                                                                                                                                                                                              index  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                   0
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                   1
                                                                                                                                                                   2009 Audi A3                   2
                                                                                                                                                                   2009 Audi A3                   3
                                                                                                                                                                   2009 Audi A3                   4

                                                                                                                                                                                              Dimensions.Length  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             143
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143

                                                                                                                                                                                              Dimensions.Width  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                            202
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202

                                                                                                                                                                                             Engine Information.Driveline  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                           All-wheel drive
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                         Front-wheel drive
                                                                                                                                                                   2009 Audi A3                         Front-wheel drive
                                                                                                                                                                   2009 Audi A3                           All-wheel drive
                                                                                                                                                                   2009 Audi A3                           All-wheel drive

                                                                                                                                                                                              Engine Information.Hybrid  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                    True
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True

                                                                                                                                                                                             Engine Information.Transmission  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3               6 Speed Automatic Select Shift
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3               6 Speed Automatic Select Shift
                                                                                                                                                                   2009 Audi A3                               6 Speed Manual
                                                                                                                                                                   2009 Audi A3               6 Speed Automatic Select Shift
                                                                                                                                                                   2009 Audi A3               6 Speed Automatic Select Shift

                                                                                                                                                                                              Fuel Information.City mpg  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                      18
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                      22
                                                                                                                                                                   2009 Audi A3                                      21
                                                                                                                                                                   2009 Audi A3                                      21
                                                                                                                                                                   2009 Audi A3                                      21

                                                                                                                                                                                              Fuel Information.Highway mpg  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                         25
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                         28
                                                                                                                                                                   2009 Audi A3                                         30
                                                                                                                                                                   2009 Audi A3                                         28
                                                                                                                                                                   2009 Audi A3                                         28

                                                                                                                                                                                             Identification.Classification  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                     Automatic transmission
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                     Automatic transmission
                                                                                                                                                                   2009 Audi A3                        Manual transmission
                                                                                                                                                                   2009 Audi A3                     Automatic transmission
                                                                                                                                                                   2009 Audi A3                     Automatic transmission

                                                                                                                                                                                                       Identification.ID  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                         2009 Audi A3 3.2
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                    2009 Audi A3 2.0 T AT
                                                                                                                                                                   2009 Audi A3                       2009 Audi A3 2.0 T
                                                                                                                                                                   2009 Audi A3               2009 Audi A3 2.0 T Quattro
                                                                                                                                                                   2009 Audi A3               2009 Audi A3 2.0 T Quattro

                                                                                                                                                                                             Identification.Make  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             Audi
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi

                                                                                                                                                                                              Identification.Year  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                              2009
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009

                                                                                                                                                                                              Engine Information.Engine Statistics.Torque
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                                       236
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                                       207

In [34]:
cars= cars.fillna(method='ffill')
cars.head()

                                                                                                                                                                                              Dimensions.Height  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             140
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140
                                                                                                                                                                   2009 Audi A3                             140

                                                                                                                                                                                              index  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                   0
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                   1
                                                                                                                                                                   2009 Audi A3                   2
                                                                                                                                                                   2009 Audi A3                   3
                                                                                                                                                                   2009 Audi A3                   4

                                                                                                                                                                                              Dimensions.Length  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             143
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143
                                                                                                                                                                   2009 Audi A3                             143

                                                                                                                                                                                              Dimensions.Width  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                            202
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202
                                                                                                                                                                   2009 Audi A3                            202

                                                                                                                                                                                             Engine Information.Driveline  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                           All-wheel drive
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                         Front-wheel drive
                                                                                                                                                                   2009 Audi A3                         Front-wheel drive
                                                                                                                                                                   2009 Audi A3                           All-wheel drive
                                                                                                                                                                   2009 Audi A3                           All-wheel drive

                                                                                                                                                                                              Engine Information.Hybrid  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                    True
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True
                                                                                                                                                                   2009 Audi A3                                    True

                                                                                                                                                                                             Engine Information.Transmission  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3               6 Speed Automatic Select Shift
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3               6 Speed Automatic Select Shift
                                                                                                                                                                   2009 Audi A3                               6 Speed Manual
                                                                                                                                                                   2009 Audi A3               6 Speed Automatic Select Shift
                                                                                                                                                                   2009 Audi A3               6 Speed Automatic Select Shift

                                                                                                                                                                                              Fuel Information.City mpg  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                      18
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                      22
                                                                                                                                                                   2009 Audi A3                                      21
                                                                                                                                                                   2009 Audi A3                                      21
                                                                                                                                                                   2009 Audi A3                                      21

                                                                                                                                                                                              Fuel Information.Highway mpg  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                         25
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                         28
                                                                                                                                                                   2009 Audi A3                                         30
                                                                                                                                                                   2009 Audi A3                                         28
                                                                                                                                                                   2009 Audi A3                                         28

                                                                                                                                                                                             Identification.Classification  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                     Automatic transmission
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                     Automatic transmission
                                                                                                                                                                   2009 Audi A3                        Manual transmission
                                                                                                                                                                   2009 Audi A3                     Automatic transmission
                                                                                                                                                                   2009 Audi A3                     Automatic transmission

                                                                                                                                                                                                       Identification.ID  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                         2009 Audi A3 3.2
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                    2009 Audi A3 2.0 T AT
                                                                                                                                                                   2009 Audi A3                       2009 Audi A3 2.0 T
                                                                                                                                                                   2009 Audi A3               2009 Audi A3 2.0 T Quattro
                                                                                                                                                                   2009 Audi A3               2009 Audi A3 2.0 T Quattro

                                                                                                                                                                                             Identification.Make  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                             Audi
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi
                                                                                                                                                                   2009 Audi A3                             Audi

                                                                                                                                                                                              Identification.Year  \
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                              2009
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009
                                                                                                                                                                   2009 Audi A3                              2009

                                                                                                                                                                                              Engine Information.Engine Statistics.Torque
Engine Information.Number of Forward Gears Engine Information.Engine Type               Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs         250                                             Gasoline                   2009 Audi A3                                                       236
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo 200                                             Gasoline                   2009 Audi A3                                                       207

In [36]:
cars.fillna(104)

                                                                                                                                                                                                       Dimensions.Height  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    140
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                 13
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  141
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                160
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               200
                                                                                                                                                                     2012 BMW 7 Series                               200

                                                                                                                                                                                                       index  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                          0
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                          1
                                                                                                                                                                     2009 Audi A3                          2
                                                                                                                                                                     2009 Audi A3                          3
                                                                                                                                                                     2009 Audi A3                          4
...                                                                                                                                                                                                      ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                   5071
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup     5072
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder   5073
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                  5074
                                                                                                                                                                     2012 BMW 7 Series                  5075

                                                                                                                                                                                                       Dimensions.Length  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    143
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                253
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  249
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                249
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               210
                                                                                                                                                                     2012 BMW 7 Series                                94

                                                                                                                                                                                                       Dimensions.Width  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                   202
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
...                                                                                                                                                                                                                 ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               201
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                 108
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder               108
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                              110
                                                                                                                                                                     2012 BMW 7 Series                              110

                                                                                                                                                                                                      Engine Information.Driveline  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                  All-wheel drive
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
...                                                                                                                                                                                                                            ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                            Front-wheel drive
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                All-wheel drive
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder              All-wheel drive
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                            Rear-wheel drive
                                                                                                                                                                     2012 BMW 7 Series                            Rear-wheel drive

                                                                                                                                                                                                       Engine Information.Hybrid  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                           True
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
...                                                                                                                                                                                                                          ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                       True
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                         True
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                       True
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                                      True
                                                                                                                                                                     2012 BMW 7 Series                                      True

                                                                                                                                                                                                      Engine Information.Transmission  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                                      6 Speed Manual
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
...                                                                                                                                                                                                                               ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               5 Speed Automatic
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                    6 Speed Manual
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                  6 Speed Manual
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                 6 Speed Automatic Select Shift
                                                                                                                                                                     2012 BMW 7 Series                 6 Speed Automatic Select Shift


In [37]:
cars.fillna(10)

                                                                                                                                                                                                       Dimensions.Height  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    140
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
                                                                                                                                                                     2009 Audi A3                                    140
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                 13
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  141
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                160
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               200
                                                                                                                                                                     2012 BMW 7 Series                               200

                                                                                                                                                                                                       index  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                          0
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                          1
                                                                                                                                                                     2009 Audi A3                          2
                                                                                                                                                                     2009 Audi A3                          3
                                                                                                                                                                     2009 Audi A3                          4
...                                                                                                                                                                                                      ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                   5071
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup     5072
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder   5073
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                  5074
                                                                                                                                                                     2012 BMW 7 Series                  5075

                                                                                                                                                                                                       Dimensions.Length  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                    143
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
                                                                                                                                                                     2009 Audi A3                                    143
...                                                                                                                                                                                                                  ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                253
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                  249
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                249
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                               210
                                                                                                                                                                     2012 BMW 7 Series                                94

                                                                                                                                                                                                       Dimensions.Width  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                   202
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
                                                                                                                                                                     2009 Audi A3                                   202
...                                                                                                                                                                                                                 ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               201
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                 108
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder               108
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                              110
                                                                                                                                                                     2012 BMW 7 Series                              110

                                                                                                                                                                                                      Engine Information.Driveline  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                  All-wheel drive
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                Front-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
                                                                                                                                                                     2009 Audi A3                                  All-wheel drive
...                                                                                                                                                                                                                            ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                            Front-wheel drive
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                All-wheel drive
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder              All-wheel drive
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                            Rear-wheel drive
                                                                                                                                                                     2012 BMW 7 Series                            Rear-wheel drive

                                                                                                                                                                                                       Engine Information.Hybrid  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                                           True
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
                                                                                                                                                                     2009 Audi A3                                           True
...                                                                                                                                                                                                                          ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                                       True
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                         True
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                       True
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                                      True
                                                                                                                                                                     2012 BMW 7 Series                                      True

                                                                                                                                                                                                      Engine Information.Transmission  \
Engine Information.Number of Forward Gears Engine Information.Engine Type                 Engine Information.Engine Statistics.Horsepower Fuel Information.Fuel Type Identification.Model Year
6                                          Audi 3.2L 6 cylinder 250hp 236ft-lbs           250                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                           Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo   200                                             Gasoline                   2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                                      6 Speed Manual
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
                                                                                                                                                                     2009 Audi A3                      6 Speed Automatic Select Shift
...                                                                                                                                                                                                                               ...
5                                          Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs        250                                             Gasoline                   2012 Honda Pilot                               5 Speed Automatic
6                                          Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs 552                                             Gasoline                   2012 Lamborghini Gallardo Coup                    6 Speed Manual
                                                                                                                                                                     2012 Lamborghini Gallardo Spyder                  6 Speed Manual
                                           BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo     315                                             Gasoline                   2012 BMW 7 Series                 6 Speed Automatic Select Shift
                                                                                                                                                                     2012 BMW 7 Series                 6 Speed Automatic Select Shift


In [43]:
cars = cars.set_index('Dimensions.Length')
cars = cars.sort_index()
cars

,Dimensions.Height,index,Dimensions.Width,Engine Information.Driveline,Engine Information.Hybrid,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Year,Engine Information.Engine Statistics.Torque
Dimensions.Length,,,,,,,,,,,,,
2,94,1809,216,Front-wheel drive,True,5 Speed Automatic Select Shift,21,27,Automatic transmission,2010 Mazda Mazda5 Grand Touring,Mazda,2010,148
2,193,1399,49,Rear-wheel drive,True,6 Speed Manual,16,25,Manual transmission,2010 Cadillac CTS Sport Sedan 3.6L Performance MT,Cadillac,2010,273
2,135,4357,219,Four-wheel drive,True,6 Speed Automatic Select Shift,12,16,Automatic transmission,2011 Ford F-150 Lariat Limited SuperCrew 5.5-f...,Ford,2011,434
2,168,4783,62,Rear-wheel drive,True,6 Speed Automatic Select Shift,15,21,Automatic transmission,2012 Jaguar XJL Supersport,Jaguar,2012,461
2,193,1400,49,All-wheel drive,True,6 Speed Automatic Select Shift,18,27,Automatic transmission,2010 Cadillac CTS Sport Sedan 3.6L Performance...,Cadillac,2010,273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,158,852,8,Front-wheel drive,True,4 Speed Automatic Select Shift,20,25,Automatic transmission,2010 Kia Sportage LX AT,Kia,2010,136
255,158,857,8,Four-wheel drive,True,4 Speed Automatic Select Shift,18,23,Automatic transmission,2010 Kia Sportage EX 4WD,Kia,2010,178
255,158,851,8,Front-wheel drive,True,5 Speed Manual,20,25,Manual transmission,2010 Kia Sportage LX,Kia,2010,136
255,158,853,8,Four-wheel drive,True,5 Speed Manual,19,24,Manual transmission,2010 Kia Sportage LX 4WD,Kia,2010,136
255,158,856,8,Front-wheel drive,True,4 Speed Automatic Select Shift,18,23,Automatic transmission,2010 Kia Sportage EX,Kia,2010,178

In [44]:
cars = cars.set_index('index')
cars = cars.sort_index()
cars

,Dimensions.Height,Dimensions.Width,Engine Information.Driveline,Engine Information.Hybrid,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Year,Engine Information.Engine Statistics.Torque
index,,,,,,,,,,,,
0,140,202,All-wheel drive,True,6 Speed Automatic Select Shift,18,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009,236
1,140,202,Front-wheel drive,True,6 Speed Automatic Select Shift,22,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009,207
2,140,202,Front-wheel drive,True,6 Speed Manual,21,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009,207
3,140,202,All-wheel drive,True,6 Speed Automatic Select Shift,21,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009,207
4,140,202,All-wheel drive,True,6 Speed Automatic Select Shift,21,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009,207
...,...,...,...,...,...,...,...,...,...,...,...,...
5071,13,201,Front-wheel drive,True,5 Speed Automatic,18,25,Automatic transmission,2012 Honda Pilot EX-L,Honda,2012,253
5072,141,108,All-wheel drive,True,6 Speed Manual,12,20,Manual transmission,2012 Lamborghini Gallardo Coupe LP 560-4,Lamborghini,2012,398
5073,160,108,All-wheel drive,True,6 Speed Manual,12,20,Manual transmission,2012 Lamborghini Gallardo LP 560-4 Spyder,Lamborghini,2012,398
5074,200,110,Rear-wheel drive,True,6 Speed Automatic Select Shift,17,25,Automatic transmission,2012 BMW 740i Sedan,BMW,2012,330
5075,200,110,Rear-wheel drive,True,6 Speed Automatic Select Shift,17,25,Automatic transmission,2012 BMW 740Li Sedan,BMW,2012,330

In [46]:
cars[['Fuel Information.City mpg','Fuel Information.Highway mpg']].agg(['min','mean','max'])

      Fuel Information.City mpg  Fuel Information.Highway mpg
min                    8.000000                     11.000000
mean                  17.275808                     24.125493
max                   38.000000                    223.000000

In [47]:
cars[['Dimensions.Height','Dimensions.Width']].agg(['min','mean','max'])

      Dimensions.Height  Dimensions.Width
min            1.000000          1.000000
mean         145.632191        144.012411
max          255.000000        254.000000

In [52]:
companies = {'Tata Groups': 'India',
          'Amazon': 'USA',
          'Google': 'USA',
          'Microsoft': 'USA'}
s = pd.Series(companies, index = ['Tata Groups' , 'Google'])
print(s)

Tata Groups    India
Google           USA
dtype: object

In [53]:
s.loc['Google']

'USA'

In [55]:
s.iloc[0]

'India'

In [56]:
companies = {1: 'India',
          2: 'USA',
          3: 'USA',
          4: 'USA'}
s = pd.Series(companies)
print(s)

1    India
2      USA
3      USA
4      USA
dtype: object